<div class="m-2 d-flex justify-content-center flex-column d-sm-block text-center">
    <h1>Tour of Heroes - Sobre</h1>

    <p>Criado por Yan Moura Virginio.</p>

    <p>Para fins de estudo do Angular, TypeScript, e Material.</p>

    <p>Contate me (abrirá em uma nova aba):</p>

    <a class="mx-1" target="_blank" href="https://www.linkedin.com/in/yanmoura"><img
            src="https://img.shields.io/badge/LinkedIn%20%2D%20yanmoura-0e76a8"></a>
    <a class="me-1" target="_blank" href="mailto:yanmv11@gmail.com"><img
            src="https://img.shields.io/badge/Gmail%20-%20yanmv11@gmail.com-c71610"></a>
    <a><img src="https://img.shields.io/badge/Discord%20-%20twistzero-5865F2"></a>
</div>