<div class="m-2 d-flex justify-content-center flex-column d-sm-block text-center">
    <h1>Tour of Heroes - Sobre</h1>
    <img src="../../assets/logo.png">
    <p>Criado por Yan Moura Virginio.</p>

    <p>Para fins de estudo do Angular, TypeScript, e Material.</p>

    <p>Contate me (abrirá em uma nova aba):</p>

    <a class="mx-1"><img src="https://img.shields.io/badge/twistzero-7289DA?style=for-the-badge&logo=discord&logoColor=white"></a>
    <a class="mx-1" href="mailto:yanmv11@gmail.com"><img src="https://img.shields.io/badge/-yanmv11@gmail.com-%23333?style=for-the-badge&logo=gmail&logoColor=white" target="_blank"></a>
    <a class="mx-1" href="https://www.linkedin.com/in/yanmoura" target="_blank"><img src="https://img.shields.io/badge/-yanmoura-%230077B5?style=for-the-badge&logo=linkedin&logoColor=white" target="_blank"></a>     
</div>