/* Application-wide Styles */

@font-face {
  font-family: 'Bangers';
  src: url('../assets/Bangers-Regular.ttf') format('truetype');
}

.logo {
  height: 60px;
  cursor: pointer;
}

.headerBtn {
  font-size: large;
}