// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;

@use "toh-palletes.scss" as toh;
// Be sure that you only ever include this mixin once!
@include mat.core();

$toh-typography: mat.m2-define-typography-config();
$light-theme: mat.m2-define-light-theme(
  (
    color: (
      primary: toh.$blue,
      accent: toh.$orange,
      warn: toh.$wine,
    ),
    typography: $toh-typography,
    density: 0,
  )
);

// Define the dark theme
$dark-theme: mat.m2-define-dark-theme(
  (
    color: (
      primary: toh.$blue,
      accent: toh.$orange,
      warn: toh.$wine,
    ),
    typography: $toh-typography,
    density: 0,
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
body, body.light {
  @include mat.all-component-themes($light-theme);
}
body.dark {
  @include mat.all-component-colors($dark-theme);
  --bs-body-bg: #1a1a1a;
  --bs-heading-color: white;
  --bs-body-color: white;
}
/* You can add global styles to this file, and also import other style files */
* {
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
}