@use "@angular/material" as mat;

$blue: mat.m2-define-palette(
  (
    50: #e2ecf1,
    100: #b6cfdc,
    200: #86afc5,
    300: #558eae,
    400: #30769c,
    500: #0c5e8b,
    600: #0a5683,
    700: #084c78,
    800: #06426e,
    900: #03315b,
    A100: #8cc0ff,
    A200: #59a4ff,
    A400: #2688ff,
    A700: #0d7bff,
    contrast: (
      50: #000000,
      100: #000000,
      200: #000000,
      300: #000000,
      400: #ffffff,
      500: #ffffff,
      600: #ffffff,
      700: #ffffff,
      800: #ffffff,
      900: #ffffff,
      A100: #000000,
      A200: #000000,
      A400: #ffffff,
      A700: #ffffff,
    ),
  )
);

$orange: mat.m2-define-palette(
  (
    50: #ffe4e0,
    100: #ffbbb3,
    200: #ff8d80,
    300: #ff5f4d,
    400: #ff3d26,
    500: #ff1b00,
    600: #ff1800,
    700: #ff1400,
    800: #ff1000,
    900: #ff0800,
    A100: #ffffff,
    A200: #fff2f2,
    A400: #ffc0bf,
    A700: #ffa6a6,
    contrast: (
      50: #000000,
      100: #000000,
      200: #000000,
      300: #000000,
      400: #ffffff,
      500: #ffffff,
      600: #ffffff,
      700: #ffffff,
      800: #ffffff,
      900: #ffffff,
      A100: #000000,
      A200: #000000,
      A400: #000000,
      A700: #000000,
    ),
  )
);

$wine: mat.m2-define-palette(
  (
    50: #ece0e4,
    100: #d0b3bd,
    200: #b08091,
    300: #904d64,
    400: #792643,
    500: #610022,
    600: #59001e,
    700: #4f0019,
    800: #450014,
    900: #33000c,
    A100: #ff6b7c,
    A200: #ff384e,
    A400: #ff0521,
    A700: #eb001a,
    contrast: (
      50: #000000,
      100: #000000,
      200: #000000,
      300: #ffffff,
      400: #ffffff,
      500: #ffffff,
      600: #ffffff,
      700: #ffffff,
      800: #ffffff,
      900: #ffffff,
      A100: #000000,
      A200: #ffffff,
      A400: #ffffff,
      A700: #ffffff,
    ),
  )
);
