<div class="container-fluid mt-2">
    <div class="row">
        <div class="col-12 col-sm-3">
            <mat-form-field class="w-100">
                <mat-label>Escolha o herói</mat-label>
                <mat-select (selectionChange)="onSelect($event.value)">
                    <mat-option *ngFor="let hero of heroList" [value]="hero">
                        {{ hero.name }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
    <app-hero-detail [selectedHero]="selectedHero"></app-hero-detail>
</div>